AnchorPane{
    -fx-background-image: url("/Lurendrejeren.png");
}
#btnRock
{
    -fx-background-image: url("/RockPlayer.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: #c7c7c7;
    -fx-border-radius: 15;
}
#btnRock:hover
{
    -fx-blend-mode: none;
    -fx-background-radius: 15;
    -fx-border-color: #4b4b4b;
}

#btnPaper
{
    -fx-background-image: url("/PaperPlayer.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: #c7c7c7;
    -fx-background-radius: 20;
    -fx-border-radius: 15;
}

#btnPaper:hover
{
    -fx-blend-mode: none;
    -fx-background-radius: 15;
    -fx-border-color: #4b4b4b;
}

#btnScissor
{
    -fx-background-image: url("/ScissorPlayer.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: #c7c7c7;
    -fx-background-radius: 20;
    -fx-border-radius: 15;
}

#btnScissor:hover
{
    -fx-blend-mode: none;
    -fx-background-radius: 15;
    -fx-border-color: #4b4b4b;
}
#txtPlayer
{
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #f60505;
    -fx-font-size: 30;
    -fx-background-size: contain;
}
#txtBot{
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #e600ff;
    -fx-font-size: 30;
}
#lblWinLossTxt {
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #00ffe7;
    -fx-font-size: 50;
    -fx-text-alignment: center;
}
.scoreLabel{
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: #ff9225;
    -fx-font-size: 30;
}
